/*CSS Documan*/
body{
    background-color:aliceblue;
    padding: 0;
    margin: 0;
  }
  .container {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .card {
    padding: 20px 25px;
    width: 300px;
    background: rgb(3, 77, 104);
    border-radius: 4px;
    margin: 0;
     position: absolute;             
     top: 50%;                        
     transform: translate(0, 75%);
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
  input[type="text"],input[type="password"] {
    font-size: 1em;
    padding: 8px 10px;
    margin: 5px 0;
    border: 1px solid #eee;
    border-radius: 2px;
    width: 82%;
  }
  .button {
    text-decoration: none;
    color: rgb(16, 156, 138);
    text-align: center;
    background:rgb(4, 4, 94);
    padding: 9px 22px;
    border-radius: 3px;
    justify-content: center;
  
  }
  .button:hover {
    background: rgb(13, 164, 175);
    color: rgb(7, 28, 46);
  }